doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, minimal-ui')

    link(href='css/example.css', rel='stylesheet', type='text/css')
    title Example

  body
    section.card
      button.video Play 
      div.screen
      div.info
          ul.info-list

              li.current
                  -//img(src="https://cdn.arnellebalane.com/images/codepen-day85/artwork-1.jpg", alt="The Marcian") 
                  h1 Chan the Bird Man’s Graduate Bird Flyer Program
                  p Dear Friends,
                  p Thank you for your support of my pet birds and their development as strong free-flyers. I strive to improve their lives through exercise and proper nutrition, and am so proud of showcasing their abilities. 

  script(src="http://code.jquery.com/jquery-2.2.4.min.js", integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=", crossorigin="anonymous")
  script(src='js/example.js')
  
  
