include includes/mixins.pug

doctype html
html(lang="en-US")
  head
    +head('Chan’s Behavior & Free Flying')
      link(rel='icon', href='data:;base64,iVBORw0KGgo=')
      meta(name="google-site-verification", content="crbqXOzB7UiMY1eRBq0drgmg-KlidU2wRba_iGV1aVU")/
      meta(nam="keywords", content="chanthebirdman, chanthebirdmansf, freeflight, macaw, behavior, training, classes, freefling, bird, parrot, los angeles")/
      meta(name="description", content="Chan the Birdman’s Events & Free Flight Training")/
      meta(property="og:title" content="Chan the Bird Man")/
      meta(property="og:description", content="Chan the Birdman’s Events & Free Flight Training")/
      meta(property="og:image", content="http://chanthebirdman.com/images/chan-site-poster.jpg")/
      meta(property="og:url", content="http://chanthebirdman.com/")/
      meta(name="author", content="Chan Quach")/
      meta(name="web-author", content="Kai Bansner")/
      meta(name="copy-editor", content="Natasha Curry")/

    style(type='text/css')
      include ../build/includes/main.css
  body
    div.viewport
      div.screen
        video.stop(playsinline)
          source(src="//s3-us-west-1.amazonaws.com/videos.chanthebirdman.com/phone-angles-music.mp4" type="video/mp4")

    div.drawer
      div#play
        div.bar.first-half
        div.bar.second-half

      div.info
        h1 Chan the Birdman’s Events &amp; Free Flight Training
        
        p If you’re reading this, chances are you’ve seen my birds enjoying life flying in the Hollywood Hills or above the beaches of LA. Imagine yourself living that for yourself, either by training your own bird to soar the skies or accompanying me on an excursion with my flock. To schedule your own private experience — bike alongside them as they fly or personal training sessions with me — see below.
        
        h2 Events

        dl
          dt Free Flight Hiking & Bicycling Experience
          dd Note this is not a training course or consultation; it’s a fun day out together where you get to watch and photograph my birds in flight. Must have your own bike & be able to hike, climb hills.

          dt Educational Bird Shows
          dd $1000 for first 2hrs, each additional hr $250. This fee includes my 5 birds, plus an assistant and local travel time.

          dt Free Flying & Behavior Workshop
          dd Available to you and your bird club. Sponsorship is required for out of state or city. Inquire for workshop details.

          dt Other Events/Functions
          dd Please inquire regarding any other events, projects, media, advertisement, or film productions.

        h2 Training

        p Birds need and want to fly, and as a bird owner you know there’s nothing more beautiful than watching birds open their wings and take off into the sunset, then return safely to a waiting arm. 
        
        p But how to start? Many birds have behavior issues that need working through before they are ready for free flight such as aggression or even refusal; it’s frustrating, I know. 

        p Our philosophy is Happy Birds = Happy Relationships. No bird is too old or too young to learn new behaviors and to free fly, and we can help you both. Free flying your bird is the best gift you can give them. I offer: 
        
        ul
          li Behavior & Free Flying Workshop
          li Virtual and at home consultations
          li Presentation & demonstrations to private groups

        dl
          dt Behavior consultation & Free Flying Training Packages
          dd 
            |Option 
            b A: 
            | Receive 1:1 direct training. Develop handling, nutrition, husbandry, observation, analytical assessment skills and more. Excellent for all levels. $200/hr + travel fee of $1/mi
          
          dd 
            |Option 
            b B: 
            | Receive all the benefits of option A with 3 meetings/mo. + phone updates + Free Flight Experiences. $500/month + travel fee of $1/mi. No travel fee for Free Flight Experiences
                      
        dl
          dt Payment
          dd Services are to be paid in full to reserve appointment.
          
          dt Cancellations
          dd 24hr-cancellations are subject to $100 charge.

        p Email 
          a(href="mailto:chanthebirdmansf@gmail.com") chanthebirdmansf@gmail.com
          |
          |for pricing for package options or text on 
          a(href="https://www.instagram.com/chanthebirdman/") Instagram
          |.
          


      footer
        a.button(href="mailto:chanthebirdmansf@gmail.com") Email 
        a.button(target="_new", href="https://www.facebook.com/birdbehavior/") FaceBook

  +main-js
  
  
