include includes/mixins.pug

doctype html
html(lang="en-US")
  head
    +head('Graduate Bird Flyer Program')
      meta(name="google-site-verification", content="crbqXOzB7UiMY1eRBq0drgmg-KlidU2wRba_iGV1aVU")/
      meta(nam="keywords", content="chanthebirdman, chanthebirdmansf, freeflight, macaw, behavior, training, classes, freefling, bird, parrot, los angeles")/
      meta(name="description", content="Chan the Bird Man’s Official Website. His Graduate Bird Flyer program is available to you and your free-flight clubs")/
      meta(property="og:title" content="Chan the Bird Man")/
      meta(property="og:description", content="Chan’s Graduate Bird Flyer program is available to you and your free-flight clubs")/
      meta(property="og:image", content="http://chanthebirdman.com/images/chan-site-poster.jpg")/
      meta(property="og:url", content="http://chanthebirdman.com/")/
      meta(name="author", content="Chan Quach")/
      meta(name="web-author", content="Kai Bansner")/
      meta(name="copy-editor", content="Natasha Curry")/

    style(type='text/css')
      include ../build/includes/main.css
  body
    div.viewport
      div.screen
        video.stop(playsinline)
          source(src="./videos/desktop-angles-music.mp4" type="video/mp4")

    div.drawer
      div#play
        div.bar.first-half
        div.bar.second-half

      div.info
        h1 Chan the Bird Man’s Graduate Bird Flyer Program
        p As a professional bird behaviorist, my goal is to improve parrots’ lives through exercise and proper nutrition, and I am proud of showcasing their ability to fly freely and return with perfect recall. 
        p 
          |I’d like to help enhance the lives of your birds through my unique educational approach.  My goal as a behaviorist is to show the community that birds need not always be caged, so your flock can accompany you throughout your day. Chan Quach’s Graduate Bird Flyer program is available to you and to free-flight clubs. I can help you and your flock adjust to free flying in various living environments: country, suburban, busy downtown living, so you can be active with your birds while jogging, bicycling or even shopping. By completing the Graduate Bird and Flyer program, your challenges with aggression, screaming, harness training, and behavioral changes associated with seasonal hormones will be addressed. My preference is home visits in Los Angeles. However, I am available for travel consultations, as well as Skype or FaceTime sessions.
          |
          a(target="_new", href="https://www.facebook.com/birdbehavior/services") Pricing
          |
          |for services is listed on my FaceBook Page. 
          a(href="mailto:chanthebirdmansf@gmail.com") Email me
          |
          |to book an appointment.


      footer
        a.button(href="mailto:chanthebirdmansf@gmail.com") Email 
        a.button(target="_new", href="https://www.facebook.com/birdbehavior/") FaceBook

  +main-js
  
  
