mixin head(pageTitle)
  meta(charset='utf-8')
  meta(name='viewport', content='width=device-width, initial-scale=1')

  link(href='css/normalize-min.css', rel='stylesheet', type='text/css')
  link(href='css/main.css', rel='stylesheet', type='text/css')
  link(href='https://fonts.googleapis.com/css?family=EB+Garamond' rel='stylesheet')

  title="Chan the Bird Man | " + pageTitle

mixin main-js
  script(src="http://code.jquery.com/jquery-2.2.4.min.js", integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=", crossorigin="anonymous")
  script(src='js/main.js')
